.employee-form {
    button.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base {
        color: #138300 !important;
        font-weight: 700;
        margin: 4px;

        &:hover {
            background-color: rgb(19 131 0 / 10%) !important;
        }
    }
}