.dialog-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .dialog-container__form {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Space between form fields */
  }
  
  .input-full-width {
    width: 100%; /* Make the form fields take full width */
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 8px; /* Space between buttons */
    margin-top: 16px; /* Space above the buttons */
  }
  
  mat-form-field {
    margin-bottom: 16px; /* Space below form fields */
  }
  